<footer class="site-footer">
  <div class="footer-content">

    <div class="footer-col" data-aos="fade-up" data-aos-delay="0">
      <h4>FieraComix</h4>
      <p>La fiera dedicata a fumetti, giochi e cultura pop.  
         Scopri eventi, prenota stand e vivi l’esperienza!</p>
    </div>

    <div class="footer-col" data-aos="fade-up" data-aos-delay="100">
      <h4>Contatti</h4>
      <ul>
        <li><a href="mailto:info@comixcity.it">info@comixcity.it</a></li>
        <li>Tel: +39 0123 456789</li>
        <li>Via Fumetto, 10 - Nerd City</li>
      </ul>
    </div>

    <div class="footer-col" data-aos="fade-up" data-aos-delay="200">
      <h4>Link utili</h4>
      <ul>
        <li><a href="/chisiamo">Chi siamo</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Termini & Condizioni</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 FieraComix. Tutti i diritti riservati.</p>
  </div>
</footer>
