<!DOCTYPE html>
<html lang="it">
<head><meta charset="UTF-8"><title>500 - Errore interno</title></head>
<body>
  <h1>500 - Errore interno del server</h1>
  <p>Si è verificato un errore. Riprova più tardi.</p>
  <a href="/">Home</a>
</body>
</html>
