<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>ComixCity</title>
  <link rel="stylesheet" href="/css/stile.css">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <!-- AOS CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

  <%- include('partials/navbar') %>
    <div id="scroll-progress"></div>


    <!-- HEADER HERO -->
    <section class="hero">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/3.jpg" alt="Slide 1" loading="lazy">
          </div>
          <div class="swiper-slide">
            <img src="/img/2.jpg" alt="Slide 2" loading="lazy">
          </div>
          <div class="swiper-slide">
            <img src="/img/mangas.jpg" alt="Slide 3" style="object-position: top center;" loading="lazy">
          </div>
          <div class="swiper-slide">
            <img src="/img/4.jpg" alt="Slide 4" loading="lazy">
          </div>
          <div class="swiper-slide">
            <img src="/img/5.jpg" alt="Slide 5" loading="lazy">
          </div>
          <div class="swiper-slide">
            <img src="/img/6.jpg" alt="Slide 6" loading="lazy">
          </div>
        </div>
      </div>

      <!--BLOCCHI SU HERO-->
      <div class="hero-content animate-hero">
        <!-- Blocco principale: visitatori -->
        <div data-aos="slide-right" data-aos-delay="50" class="hero-blocco-benvenuto">
          <h1>Benvenuto a ComixCity!</h1>
          <p>Scopri il mondo dei fumetti, giochi e cosplay. Sfoglia gli eventi e acquista il tuo biglietto!</p>
          <div class="hero-buttons">
            <a href="#eventi" class="btn-secondary">Scopri Eventi</a>
            <a href="#biglietti" class="btn">Acquista Biglietti</a>
          </div>
        </div>

        <!-- Blocco espositori -->
        <div data-aos="slide-left" data-aos-delay="100" class="hero-blocco-espositore">
          <h2>Sei un espositore? Scopri i posti disponibili!</h2>
          <p>Tramite l'apposita sezione potrai scegliere la tua area ed esporre la tua merce!</p>
          <div class="hero-buttons">
            <a href="#stand" class="btn-tertiary">Vai agli Stand</a>
          </div>
        </div>
      </div>
    </section>


    <!--///////////////////////////SEZIONI SUBHERO/////////////////////-->
    <section class="background-gradient">

      <!--///////////////////////////BIGLIETTI/////////////////////-->

      <section id="biglietti" data-aos="fade-up" class="preview-section">
        <div class="preview-container">
          <h2 data-aos="fade-up">I Nostri Biglietti</h2>
          <div class="preview-grid">

            <div data-aos="slide-right" data-aos-delay="100" class="evento-card1 evento-bg1"
              style="background-image: url('/img/TickInt.png');">
            </div>

            <div data-aos="slide-right" data-aos-delay="200" class="evento-card1 evento-bg1"
              style="background-image: url('/img/RidCos.png');">
            </div>

            <div data-aos="slide-up" data-aos-delay="300" class="evento-card1 evento-bg1"
              style="background-image: url('/img/RidStud.png');">
            </div>

            <div data-aos="slide-left" data-aos-delay="400" class="evento-card1 evento-bg1"
              style="background-image: url('/img/GratBamb.png');">
            </div>

            <div data-aos="slide-left" data-aos-delay="500" class="evento-card1 evento-bg1"
              style="background-image: url('/img/GratDisab.png');">
            </div>
          </div>

          <div class="evento-bottone">
            <a href="/biglietti" class="btn-secondary">Scopri di più</a>
          </div>
      </section>





      <!--///////////////SEZIONE EVENTI//////////////-->
      <section id="eventi" class="sezione-eventi" data-aos="fade-up">
        <h2>Eventi</h2>
        <div class="eventi-grid">

          <div data-aos="slide-right" data-aos-delay="0" class="evento-card">
            <img src="/img/gaming.jpg" alt="Gaming Arena">
            <div class="evento-info">
              <h3>Gaming Arena</h3>
              <p>Tornei su console e PC, sfide epiche e premi esclusivi!</p>
            </div>
          </div>


          <div data-aos="slide-right" data-aos-delay="100" class="evento-card">
            <img src="/img/jjk.jpg" alt="Cosplay Contest">
            <div class="evento-info">
              <h3>Cosplay Contest</h3>
              <p>La grande sfilata dei migliori cosplayer con premi in palio!</p>
            </div>
          </div>


          <div data-aos="slide-left" data-aos-delay="200" class="evento-card">
            <img src="/img/isoka.jpg" alt="Workshop Fumetto">
            <div class="evento-info">
              <h3>Workshop Fumetto</h3>
              <p>Scopri i segreti del disegno manga e comics con i grandi autori!</p>
            </div>
          </div>

          <div data-aos="slide-left" data-aos-delay="300" class="evento-card">
            <img src="/img/Celeb.png" alt="Incontri Speciali">
            <div class="evento-info">
              <h3>Incontri Speciali</h3>
              <p>Ospiti famosi del mondo comics & games per incontri esclusivi!</p>
            </div>
          </div>

        </div>
        <div class="btn-wrapper">
          <a href="/eventi" class="btn-secondary">Vedi tutti gli eventi</a>
        </div>

      </section>


      <!--//////////////////SEZIONE STAND////////////////////////////-->
      <section id="stand" class="sezione-stand" data-aos="fade-up">
        <h2>Esponi a ComixCity!</h2>
        <div class="stand-grid">

          <div data-aos="slide-right" class="stand-card">
            <img src="/img/stand-prenota.jpg" alt="Prenota uno Stand">
            <h3>Prenota il tuo Spazio</h3>
            <p>Affitta il tuo stand e incontra migliaia di appassionati!</p>
            <a href="/stand" class="btn-secondary">Prenota ora</a>
          </div>

          <div data-aos="slide-left" class="stand-card">
            <img src="/img/stand-info.jpg" alt="Informazioni Espositori">
            <h3>Info e Regolamento</h3>
            <p>Scarica il regolamento espositori e consulta tutte le linee guida ufficiali.</p>
            <a href="/stand" class="btn-secondary">Scopri di più</a>
          </div>

        </div>
      </section>


      <!--///////////////SEZIONE FAQ//////////////-->
      <section class="faq-section">
        <div data-aos="fade-up" class="faq-container">
          <h2>Domande Frequenti</h2>

          <div class="faq-grid">

            <div data-aos="slide-right" data-aos-delay="100" class="faq-item">
              <h3>Dove posso acquistare i biglietti?</h3>
              <p>Puoi acquistare i biglietti online sul nostro sito nella sezione <a href="/biglietti">Biglietti</a>.
              </p>
            </div>

            <div data-aos="slide-left" data-aos-delay="200" class="faq-item">
              <h3>Come posso prenotare uno stand?</h3>
              <p>Visita la sezione <a href="/stand">Espositori</a> e segui le istruzioni per prenotare il tuo spazio in
                fiera</p>
            </div>

            <div data-aos="slide-right" data-aos-delay="250" class="faq-item">
              <h3>Serve iscriversi per partecipare al Cosplay Contest?</h3>
              <p>No, basta presentarsi in costume il giorno dell'evento e registrarsi all'Info Point con i dati del
                personaggio ricreato</p>
            </div>

            <div data-aos="slide-left" data-aos-delay="300" class="faq-item">
              <h3>Dove trovo il programma completo degli eventi?</h3>
              <p>Il programma è disponibile nella sezione <a href="/eventi">Eventi</a> del sito</p>
            </div>
          </div>
        </div>
      </section>

    </section>


    <!--FOOTER-->
    <%- include('partials/footer') %>

      <button id="scrollTopBtn" title="Torna su">↑</button>

      <!-- Swiper JS -->
      <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

      <!-- AOS Script-->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

      <!--Script.js-->
      <script src="/js/script.js"></script>

      <!--Vanilla Tilt
      <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>-->


</body>

</html>





<!--MODIFICHE FATTE, NEL CASO RIMETTERLE:
1) .animate-hero.hero-blocco-benvenuto, .animate-hero.hero-blocco-espositore COMMENTATI 
2) AOS SCRIPT COMMENTATO QUA SOPRA - 


-->